{% extends "layout/base.html.twig" %}

{% block content %}
    <section>
        <header>
            <h2>Élections en cours</h2>
        </header>
        <main>
            <p>Vous avez sélectionné le groupe « {{ group }} ».</p>
            <a href="/elections/tour-1">Accéder aux votes</a>
        </main>
    </section>
{% endblock content %}




