<head>
    <meta charset="UTF-8">
    <title>3OLEN - Élections</title>
    <link rel="stylesheet" href="/public/styles/app.css">
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
</head>
